{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .bold {font-weight: bold; }
</style>

<div class="example-wrapper">
    <h2>API documentation</h2>
    <ul style="list-style-type:none">
        <li>Managing Provider
            <ul style="list-style-type:none">
                <li class="bold">Show All Providers.</li>
                <li>URL : /provider-list</li>
                <li>Method : GET</li>
                <li>URL Params : None</li>
                <li>Sample Request : curl http://localhost:8011/provider-list/</li>
                <li>Sample Response:
                    <ul style="list-style-type:none">
                        <li>Status code: 200</li>
                        <li>
                            {
                            "message": "Provider List",
                            "0": {
                            "providers": [
                            {
                            "id": 1,
                            "name": "BBC",
                            "type": "csv",
                            "active": true
                            },
                            {
                            "id": 3,
                            "name": "Weather.com",
                            "type": "xml",
                            "active": true
                            },
                            {
                            "id": 4,
                            "name": "IAmsterdam",
                            "type": "json",
                            "active": true
                            }
                            ]
                            }
                            }

                        </li>
                    </ul>
                </li>
                <li>&nbsp;</li>
                <li class="bold">Add a new Provider.</li>
                <li>URL : /provider-add/{name}/{type}</li>
                <li>Method : GET</li>
                <li>URL Params : Required: name=[string] AND Required: type=[csv|xml|json]</li>
                <li>Sample Request : curl http://localhost:8011/provider-add/Weather.com/xml</li>
                <li>Sample Response:
                    <ul style="list-style-type:none">
                        <li>Status code: 200</li>
                        <li>
                            {"message":"New provider added succesfully!","id":6,"name":"Weather.com","type":"xml"}
                        </li>
                    </ul>
                </li>
                <li>&nbsp;</li>
                <li class="bold">Remove a Provider.</li>
                <li>URL : /provider-remove/{id}</li>
                <li>Method : GET</li>
                <li>URL Params : Required: id=[integer]</li>
                <li>Sample Request : curl http://localhost:8011/provider-remove/2</li>
                <li>Sample Response:
                    <ul style="list-style-type:none">
                        <li>Status code: 200</li>
                        <li>
                            {"message":"Provider removed","name":"Weather.com"}
                        </li>
                    </ul>
                </li>
                <li>&nbsp;</li>
                <li class="bold">Import data from a Provider.</li>
                <li>URL : /integrator/{id}/{type}</li>
                <li>Method : GET</li>
                <li>URL Params : Required: id=[integer], type=[string]</li>
                <li>Sample Request : curl http://localhost:8011/integrator/1/csv</li>
                <li>Sample Response:
                    <ul style="list-style-type:none">
                        <li>Status code: 200</li>
                        <li>
                            {"message":"Data successfully loaded"}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>
{% endblock %}
